<!DOCTYPE html>
<html lang="es" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{app}">
<head>
    <title th:text="#{error.titulo}">Algo salió mal</title>
</head>
<body>
<main layout:fragment="content">
    <img class="foto-error" th:src="@{/img/ciudad/frontera-800.webp}" width="800" height="600"
         th:alt="#{foto.frontera}">
    <h1 th:text="#{error.titulo}">Algo salió mal</h1>
    <p class="detalle" th:text="#{error.detalle(${status})}">Error</p>
    <p><a th:href="@{/}" th:text="#{error.volver}">Volver</a></p>
</main>
</body>
</html>
