<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{app}">
<head>
    <title th:text="${publicacion.titulo}">Publicación</title>
</head>
<body>
<main layout:fragment="content">
    <p class="detalle"><a class="enlace" th:href="@{/comunidad}"><svg class="icono" aria-hidden="true"><use th:href="@{/img/iconos.svg} + '#flecha-izq'"></use></svg><span th:text="#{comunidad.volver}">Volver</span></a></p>
    <figure class="foto-hero" th:if="${publicacion.imagen != null}">
        <img th:src="@{/img/comunidad/{s}-1600.webp(s=${publicacion.imagen})}"
             th:attr="srcset=@{/img/comunidad/{s}-800.webp(s=${publicacion.imagen})} + ' 800w, ' + @{/img/comunidad/{s}-1600.webp(s=${publicacion.imagen})} + ' 1600w'"
             sizes="(min-width: 45rem) 42rem, 100vw" width="1600" height="1200"
             th:alt="#{${'foto.comunidad.' + publicacion.imagen}}">
        <h1 th:text="${publicacion.titulo}">Título</h1>
    </figure>
    <h1 th:if="${publicacion.imagen == null}" th:text="${publicacion.titulo}">Título</h1>
    <p class="detalle">
        <span class="etiqueta" th:text="#{${publicacion.tipo.clave}}">Tipo</span>
        <span th:text="${publicacion.fecha}">Fecha</span>
    </p>
    <div class="prosa" th:utext="${publicacion.cuerpoHtml}">Cuerpo</div>
</main>
</body>
</html>
